body
{
    background-color: white;
    margin:0px;
    padding-left: 0;
    background-size: cover;
    background-image: url("../Public/images/wire.jpg");
}

.header
{
    height: 45px;
    background-color: black;
    padding-top: 5px;
}


.para1
{
    font-size: 25px;
    color: wheat;
    text-align: left;
    font-family: sans-serif;
}


a
{
    text-decoration: none;
}

.para2
{
    font-size: 25px;
    color: wheat;
    font-family: sans-serif;
    text-align: center;
}

.para3
{
    float: right;
    background-color: transparent;
    color: yellowgreen;
    font-size: 25px;
    border: none;
}



.middlediv
{
    height: 600px;
}
.logout
{
    float: right;
    margin-left: 10px;
    border: 2px solid;
    height: 37px;
}

.heading3
{
    color: white;
}

.cardmiddle
{
    margin-top: 40px;
}
.cardimg
{
    margin: 10px;
    transition:all 0.2s;
}

.heading1
{
    text-align: center;
}

.cardimg:hover
{
    margin: 0%;
    transition:all 0.2s;
}

.cardstep
{    
    padding: 20px;  
}
.testing
{
    margin-top: 70px;
}

.search
{
    border: 2px solid limegreen;
    color: limegreen;
    
}