@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body
{
   /*  background-image: url("Public/images/indexbg.jpg"); */
    background-image: url("images/indexbg.jpg");
    background-size: cover;
}
.container_box
{
    margin-top: 100px;
}

.sign-heading
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;font-family: 'Cinzel', serif;
    font-size: 30px;
}

.shipzytrac-heading
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 3em;
}

.form-box
{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
   
}
.mybtn1
{
    float: right;
}

#username
{
    background-color: transparent;
    color: white;
    outline-color:  none;border: none;
}

#username:active
{
    background-color: transparent;
    color: white;
    outline-color:  whitesmoke; border: 2px solid white;
}

#input-box:focus
{
    border: none; outline-color:  whitesmoke;
    box-shadow: 0 1px 1px rgba(255, 255, 255);
}

#input-box::placeholder
{
    color: whitesmoke;
}

.anchor-fp
{
    text-decoration: none;
    color: yellow;
}

.anchor-fp:hover {
    color: white;
    background-color: transparent;
    text-decoration: line-through;
  }

  
.input-container
 {
  display: flex;
  align-items: center;
  border:none;

}
.input-container:hover
{
    display: flex;
    align-items: center;
    border:none;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(255, 255, 255);
}

.input-container input 
{ width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;

}
.input-container input::placeholder
{
    color: whitesmoke;
}

/* .input-container:focus
{
    border: none; outline-color:  whitesmoke;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(255, 255, 255);
} */


i {
  margin: 0 10px;
  color: #aaa;
  cursor: default;
}

#mydata
{
    color: white;
}