body
{
    background-color: white;
    margin:0px;
    padding-left: 0;
    background-size: cover;
    background-image: url("../Public/images/wire.jpg");
}

.header
{
    height: 45px;
    background-color: black;
    padding-top: 5px;
}


.para1
{
    font-size: 25px;
    color: wheat;
    text-align: left;
    font-family: sans-serif;
}


a
{
    text-decoration: none;
}

.para2
{
    font-size: 25px;
    color: wheat;
    font-family: sans-serif;
    text-align: center;
}

.para3
{
    float: right;
    background-color: transparent;
    color: yellowgreen;
    font-size: 25px;
    border: none;
}


.middlediv
{
    height: 100%;
}
.logout
{
    float: right;
    margin-left: 10px;
    border: 2px solid;
    height: 37px;
}

.heading3
{
    color: white;
    font-weight: 100;
}


.divide7
{
    overflow: auto;
    padding:20px;   
    height: 480px;
    border: 1px solid gray;
    border-radius: 7px;
}       

.cardmiddle
{
    margin-top: 20px;
}

.heading6
{
    display: inline;
}
.heading61
{
    display: inline; 
    float: right;
    text-decoration: underline;     
}

.nesteddiv
{
    padding: 10px;
    border: 1px solid gray;
    height: 333px;
    border-radius: 7px;    
    overflow: auto;
    padding-bottom: 4px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }